.container-one{
    background-color: #1F2937;
    padding: 40px;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.header-logo{
    padding-left: 40px;
    color: #F9FAF8;
}
.other-header-links{
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    gap: 10%;
    color: #E5E7EB;
}

.below-header-links{
    display: flex;

    padding-left: 40px;
}

.below-header-links img{
    display: flex;
    
}

.below-header-links .stuff{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-two{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    flex-wrap: wrap;
    padding: 40px;
}

.container-two-title{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.container-two-images{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: space-around;
    vertical-align: top;
    
}

.container-two-text {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: space-around;
    vertical-align: top;

}

.container-two-images img{
    height: 100px;
    width: 100px;
}

.container-three{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.quote{
    
    font-size: 36px;
    font-style: oblique;
}

.quote-author{
    
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.container-four{
    display: flex;
    padding: 40px;
    justify-content:center;
}

.rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-four h4{

}
.container-four p{

    
}
.container-four button{

}

/* Hero Main Text 48px extra-bold #F9FAF8 */
/* Hero Secondary text, Header Link Text 18px #E5E7EB */
/* Header Logo Text, 24px #F9FAF8 */
/* Button Color, #3882F6 */
/* Information header text, 36px extra-bold #1F2937 */
/* Quote section backround color, E5E7EB */
/* Quote Text, 36px light italic #1F2937 */